########################
#~~[Important]~~#
########################
#Dont Touch:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

########################
#~~[Server Settings] ~~#
########################
set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=;userid=;password=;charset=utf8mb4_bin;sslmode=none"
set steam_webApiKey ""

sets mapname "ERP Roleplay"
sets gametype "Roleplay"
sets Discord "https://discord.gg/aVESVq9"
sets Version "1.25a"
sets tags "ElementalRP, roleplay, rp, carros, reais, pt, portugal, esx, eup, eventos"
sets banner_detail "https://i.imgur.com/Sod2GPp.jpg"
sets banner_connecting "https://i.imgur.com/Sod2GPp.jpg"

sv_hostname "Elemental RP"
load_server_icon Logo.png
########################
#~~[Server Settings~~#
########################

rcon_password dwadaaowib2dicm398a28238910mlmlnonkb
sv_scriptHookAllowed 0

sv_authMaxVariance 1
sv_authMinTrust 5
sets locale "pt-PT"

sv_endpointprivacy true
sv_maxclients 32
onesync_enabled 1

########################
#~~    [ACE PERMS]   --#
########################
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
## Inventory & Command Stuff ##
add_ace group.admin command allow # allow all commands
add_ace group.admin inventory.openinventory allow # allow all commands
## STAFF with group.admin perms ##
add_principal identifier.license:953081fbdda3367962e47de17f3702408589c962 group.admin #blackzon
add_principal identifier.license:bbcfb627beb0e54dc2c8b9035cfefab6f207f3fb group.admin #sof
add_principal identifier.license:b99c43aee4bd7db870488551ea9a231c701b1e8e group.admin #LikeaLord

########################
#~~[Execute]~~#
########################
exec vmenu_permissions.cfg
exec sResources.cfg
stop webadmin
########################
setr voice_use3dAudio true
setr voice_useSendingRangeOnly true