@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

.menu {
	background-color: rgba(0,0,0,0.7);
	font-weight: 200;
	border-radius: 5px;
	font-family: 'Verdana', sans-serif;
	min-width: 325px;
	color: #fff;
	position: absolute;
  	color: rgb(255, 255, 255);
  	opacity: 0.95;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 290;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
  
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	font-family: 'Roboto';
	border-radius: 3px;
	text-align: center;
	height: 38px;
	line-height: 40px;
 	background-color: rgba(15, 15, 15, 0.9);
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: hidden;
	border-radius: 3px;
  
}

.menu .menu-items .menu-item {
	height: 27px;
	display: block;
	background-color: rgba(25, 25, 25, 0.9);
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	color: rgb(195, 195, 195);
	text-align: left;
 	padding: 0 10px;
 	justify-content: space-between;
  	border-top: 1.5px solid rgba(35, 35, 35);
  
}

.menu .menu-items .menu-item.selected {
	background: linear-gradient(90deg, rgba(0,0,0,0.05926120448179273) 0%, rgba(255,255,255,0.6783088235294117) 100%);
}